@font-face {
font-family:'Montserrat';
src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family:'Montserrat';
src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family:'PlayfairDisplay';
src: url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family:'PlayfairDisplay';
src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family:'Monoton';
src: url('./fonts/Monoton-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}


/**
Нормализация блочной модели
*/
*,
*::before,
*::after {
box-sizing: border-box;
}

/**
Убираем внутренние отступы слева тегам списков,
у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
padding-left: 0;
}

/**
Убираем внешние отступы body и двум другим тегам,
у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
margin: 0;
}

/**
Убираем внешние отступы вертикали нужным тегам,
у которых есть атрибут class
*/
:where(
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl
):where([class]) {
margin-block: 0;
}

:where(dd[class]) {
margin-left: 0;
}

:where(fieldset[class]) {
margin-left: 0;
padding: 0;
border: none;
}

/**
Убираем стандартный маркер маркированному списку,
у которого есть атрибут class
*/
:where(ul[class]) {
list-style: none;
}

/**
Обнуляем вертикальные внешние отступы параграфа,
объявляем локальную переменную для внешнего отступа вниз,
чтобы избежать взаимодействие с более сложным селектором
*/
p {
--paragraphMarginBottom: 24px;

margin-block: 0;
}

/**
Внешний отступ вниз для параграфа без атрибута class,
который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
margin-bottom: var(--paragraphMarginBottom);
}


/**
Упрощаем работу с изображениями
*/
img {
display: block;
max-width: 100%;
max-height: 95%;
}

/**
Наследуем свойства шрифт для полей ввода
*/
input,
textarea,
select,
button {
font: inherit;
}

html {
/**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
height: 100%;
}

/**
Плавный скролл
*/
html,
:has(:target) {
scroll-behavior: smooth;
}

body {
/**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
min-height: 100%;
/**
  Унифицированный интерлиньяж
  */
line-height: 1.5;
}

/**
Приводим к единому цвету svg-элементы
*/
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
transition-property: fill, stroke;
}

/**
Удаляем все анимации и переходы для людей,
которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
* {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}

.page {
overflow: hidden;
}


:root {
--color-dark:#000 ;
--color-light:#fff;
--color-light-gray:#f4f4f4;
--color-arrow:#ccc;
--color-gray:#888;
--font-family-base:'Montserrat' , sans-serif;
--font-family-accent:'PlayfairDisplay' , sans-serif;
--font-family-reserve:'Monoton', sans-serif;

--container-width: 1200px;
--container-padding-x: 360px;
--container-padding-y: 360px;
--transition-duration: 0.2s;
}


svg *[fill] { fill: currentColor}
svg *[stroke] { stroke: currentColor}


a {
  color: var(--color-light);
}

.extra {
font-family: var(--font-family-reserve);
}

.visually-hidden {
position: absolute !important;
width: 1px !important;
height: 1px !important;
margin: -1px !important;
border: 0 !important;
padding: 0 !important;
white-space: nowrap !important;
clip-path: inset(100%) !important;
clip: rect(0 0 0 0) !important;
overflow: hidden !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) *2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.input {
width: 100%;
padding-bottom: 16.5px;
color: var(--color-light);
}

.input::placeholder,
select,input:invalid {
color: var(--color-gray);
}

.input:hover {
border-color: var(--color-light);
transition-duration: var(--transition-duration);
}

input:focus {
background-color: var(--color-light);
color:var(--color-dark);
outline: none;
}

body {
height: 1;
position:relative;
font-family: var(--font-family-base);
font-weight: 300;
font-size: 18px;
line-height: 1.75;
color: var(--color-dark);
background-color: var(--color-light-gray);
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 30px;
  align-items: center;
  background-color: var(--color-light-gray);
  max-height: 288px;
  padding: 60px 0;
}

.header-logo {
padding-bottom: 7px;
}

.header-title {
padding-top: 7px;
text-align:center;
font-family: var(--font-family-base);
}

.home {
display: flex;
flex-direction: row-reverse;
align-content: center;
justify-content: space-around;
width: auto;
height: 500px;
background: url('./images/backgroungd-home.jpg') center / cover no-repeat ;

}


.home-group {
display: flex;
justify-content: start;
flex-direction: column;
align-items: flex-start;
padding-left: 204px;
padding-block: 164px;
line-height: 1.7;

}

.home-info-title {
font-weight: 700;
color: var(--color-gray);
font-size: 16px;
text-transform: uppercase;
margin-bottom: -6px;
}

.home-title {
font-weight: 700;
font-family: var(--font-family-accent);
color: var(--color-dark);
font-size: 36px;
}

.home-subtitle {
font-weight: 300;
font-size: 18px;
}

.home:before {
content: '';
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 1000px ;
height: 500px;
background: url('./images/home-loncaro.svg') center / cover no-repeat;

}

.food-drinks  {

display: flex;
align-items: center;
justify-content: center;

}

.section-title {
font-family: var(--font-family-accent);
font-weight: 700;
font-size: 36px;
margin: 57px 0px 15px;
text-align: center;
}

.showcase {
max-width: 1200px;
padding: 30px
}

.product-call-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 30px;
}

.product-call-2 {
  flex-direction: column;
  align-items: flex-start;
}

.product-image {
border-radius: 15px 15px 0 0px;
}

.sl-container {
  border-radius: 5%;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  width: 440px;
    height: 583px;
  box-sizing: border-box;
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.2);
}
.sl-container .view {
  position: absolute;
  top: 0;
  left: -2px;
  overflow: hidden;
}
.sl-container .view img {
  width: 451px;
  max-width: 640px;
  height: 584px;
}
.sl-container .view-before {
  z-index: 100;
}

.text-viev-before {
font-family: var(--font-family-base);
font-weight: 700;
margin-top: -548px;
text-transform: uppercase;
color: var(--color-light);
font-size: 12px;
position: absolute;
width: 80px;
aspect-ratio: 1;
background-color: #9FBDD9;
display: flex;
right: 30px;
border-radius: 50%;
flex-direction: row;
justify-content: center;
align-items: center;
}

.sl-container .view-after {
  width: 100px;
  z-index: 200;
}

.text-viev-after {
font-family: var(--font-family-base);
font-weight: 700;
text-transform: uppercase;
margin-top: -548px;
color: var(--color-light);
font-size: 12px;
position: absolute;
width: 80px;
aspect-ratio: 1;
background-color: #DFD0A9;
display: flex;
left: 30px;
border-radius: 50%;
flex-direction: row;
justify-content: center;
align-items: center;
}

.sl-container .dragme {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0px;
  left: 100px;
  cursor: pointer;
  z-index: 300;
}
.sl-container .dr-circle {
  position: absolute;
  top: calc(50% - 30px);
  left: -36px;
  border-radius: 100%;
  width: 70px;
  aspect-ratio: 1;
  text-align: center;
  border: 2px solid var(--color-light);
  cursor: pointer;
  z-index: 300;
}
.dr-circle {
position: absolute;
left: -3px;
}

.dr-circle:hover {
transition: var(--transition-duration);
box-shadow: 3px 15px 100px 100px rgba(15, 15, 15, 0.48) inset;
}



.button-arrow {
display: flex;
  background: transparent;
  border: transparent;
  justify-content: center;
  padding-block: 24px;
  gap: 20px;
}

.button-arrow::after {
content: '';
width: 11px;
height: 11px;
border-top: 2px solid var(--color-light);
border-right: 2px solid var(--color-light);
transform: rotate(43deg);
}

.button-arrow::before {
content: '';
width: 11px;
height: 11px;
border-top: 2px solid var(--color-light);
border-right: 2px solid var(--color-light);
transform: rotate(220deg);
}



.product-info-title {
text-align: center;
font-weight: 700;
color: var(--color-gray);
font-size: 16px;
text-transform: uppercase;
margin-bottom: -6px;
}

.product-title {
text-align: center;
font-weight: 700;
font-family: var(--font-family-accent);
color: var(--color-dark);
font-size: 36px;
}

.product-subtitle {
font-weight: 400;
font-size: 18px;
text-align: center;
}

.product-cup-info-title {
text-align: center;
font-weight: 700;
color: var(--color-gray);
font-size: 16px;
text-transform: uppercase;
margin-bottom: -6px;
}

.product-cup-title {
text-align: center;
font-weight: 700;
font-family: var(--font-family-accent);
color: var(--color-dark);
font-size: 36px;
}

.product-cup-subtitle {
font-weight: 400;
font-size: 18px;
text-align: center;
}

.product-box {
background-color: var(--color-light);
  padding: 30px 30px 30px 50px;
  width: 670px;
  border-radius: 0 0 15px 15px ;
}

.double-box {
display: flex;
column-gap: 30px;

}

.only-image {
border-radius: 20px;
height: 623px
}

.product-box-cup {
  background-color: var(--color-light);
  padding: 30px 30px 30px 50px;
  width: 570px;
  border-radius: 0 0 15px 15px ;
}

.double-box-second {
display: flex;
flex-direction: row-reverse;
column-gap: 30px;
}

.product-call-1-reverse {
display: flex;
flex-direction: column;
padding-bottom:30px;
}

.double-box-second-comment {
  display: flex;
  column-gap: 30px;
}

/* SLIDER-SIMPLE */


.sl-container-second {
  border-radius: 5%;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  width: 449px;
    height: 583px;
  box-sizing: border-box;

}
.sl-container-second .view-second {
  position: absolute;
  top: 0;
  left: -2px;
  overflow: hidden;
}
.sl-container-second .view-second img {
  width: 451px;
  max-width: 640px;
  height: 584px;
}
.sl-container-second .view-before-second {
  z-index: 100;
}



.sl-container-second .view-after-second {
  width: 100px;
  z-index: 200;
}



.sl-container-second .dragme-second {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0px;
  left: 100px;
  cursor: pointer;
  z-index: 300;
}

.dr-circle-second {
height: 600px;
width: 10px;
position: absolute;
left: -3px;
}


.dr-circle-second:hover {

transition: var(--transition-duration);
background-color: var(--color-light-gray);
}



/* ======================================== */



.slider-comment {
background-color: var(--color-light);
height: 621px;
border-radius: 15px;}

.slick-initialized.slick-slider {
display: flex;
flex-direction: row;
}



.cup-double-box {
display: flex;
  column-gap: 30px;
}

.comment-name {
font-family: var(--font-family-base);
font-weight: 700;
font-size: 20px;
}

.comment-profession {
font-size: 14px;
}

.comment-text {
font-size: 14px;
line-height: 1.5;
padding-block: 6px;
}

.slider-comment,.slick-slider {
text-align: center;
width: 436px;

}

.comment,
.slick-slider
{
  display: flex;
  padding-inline: 13px;
  margin-block: 50px;
  flex-direction: column;
  align-items: center;
}

.button-comment-prev,.slick-prev {
display: flex;
background: transparent;
border: transparent;

}

.slick-arrow
{
font-size: 0;
display: flex;
gap: 366px;
flex-direction: row;


}

.comment-button-arrow,
.slick-prev  {
width: 26px;
height: 20px;
border-top: 3px solid var(--color-arrow);
border-right: 3px solid var(--color-arrow);
transform: rotate(218deg);
cursor: pointer;


}

.slick-prev:hover {
border-top: 3px solid var(--color-gray);
border-right: 3px solid var(--color-gray);
transition-duration: var(--transition-duration);

}

.button-comment-next,
.slick-next {

display: flex;
  background: transparent;
  border: transparent;
}

.comment-button-arrow-second,
.slick-next {

width: 26px;
height: 20px;
border-top: 3px solid var(--color-arrow);
border-right: 3px solid var(--color-arrow);
transform: rotate(39deg);
cursor: pointer;

}

.slick-next:hover {
border-top: 3px solid var(--color-gray);
border-right: 3px solid var(--color-gray);
transition-duration: var(--transition-duration);

}


.cup-double-box {
display: flex;
  column-gap: 30px;
}


.social-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-row {
display: flex;
flex-direction: column;
margin-inline: 558px;
align-items: center;
}

.logo-teg {
width: 90px;
aspect-ratio: 1;

}

.teg {
text-align: center;
font-family: var(--font-family-accent);
font-size: 36px;

}

.content-row-title {
text-align: center;
font-size: 18px;
}

.social-images {
display: grid;
grid-template-columns: 12% 25% 19% 23% 15%;
gap: 10px;
justify-content: center;
padding-top: 14px;
align-items: end;

}

.social-images-second {
display: grid;
grid-template-columns: 19% 25% 16% 12% 22%;
gap: 10px;
justify-content: center;
align-items: start;
padding-top: 20px;

}

.home-services {
width: auto;
height: 612px;
background-color: var(--color-dark);
display: grid;
justify-items: center;
}

.home-services-container {
width: 1200px ;
height: 492px;
display: grid;
justify-items: center;
}

.home-services-title {
font-family: var(--font-family-accent);
font-weight: 700;
font-size: 36px;
color: var(--color-light);
padding-top: 57px;
}

.home-services-subtitle {
font-family: var(--font-family-base);
font-weight: 300;
font-size: 18px;
color: var(--color-light);
padding-top: 11px;
text-align: center;
}

.home-services-list {
display: grid;
grid-template-columns: repeat(4, 16em);

}

.home-services-item {
display: grid;
justify-items: center;
padding-top: 30px;
}

.home-services-name {
font-family: var(--font-family-accent);
font-weight: 700;
font-size: 24px;
color: var(--color-light);
}



.home-client-list {
width: 1920;
height: auto;

}

.accordion {
max-height: 0;
overflow: visible;
}

.client-list-title {
font-family: var(--font-family-accent);
font-weight: 700;
font-size: clamp(1.563rem, 1.474rem + 0.44vw, 2.25rem);
text-align: center;
padding-top: 57px;
line-height: 1.1;
}

.expandable-content-blocked {
display: none;
}


.expandable-content {
padding-top: 27px;
display:grid;
grid-template-columns: repeat(6,16.4vw);
justify-items: center;
justify-content: center;
}





.expandable-icon {
padding: 15px
}

.button-client-list-box {
display: grid;
justify-items: center;
padding-top: 20px;
}

.title-button-client-list {
display: grid;
justify-items: end;
justify-content: center;
padding-bottom: 6px;
font-family: var(--font-family-base);
font-weight: 700;
font-size: clamp(0.625rem, 0.593rem + 0.16vw, 0.875rem);
text-transform: uppercase;
}

.button-client-list {
height: 10px;
width: 16px;
background: var(--color-dark);
}

.pollen-location-item {
display: flex;
justify-content: center;
padding-top: 50px;
}

.pollen-image {
display: flex;
position: relative;
width: 100%;
}

.place-tagline {
font-size: clamp(1.25rem, 1.05rem + 1vw, 2.25rem);
font-family: var(--font-family-accent);
font-weight: 700;
position: relative;
margin-top: -75px;
right: -15px;
color: var(--color-light);
}

.place-name {
font-size: clamp(0.625rem, 0.593rem + 0.16vw, 0.875rem);
font-family: var(--font-family-base);
font-weight: 700;

}

.place-address {
font-size: clamp(0.625rem, 0.593rem + 0.16vw, 0.875rem);
}

.place-position {
padding-right: 30px;
display: flex;
align-items: flex-end;
flex-direction: column;
top: -35px;
position: relative;
color: var(--color-light);
}

.footer-contact {
background-color: var(--color-light);
width: auto;
height: 462px;
display: flex;
justify-content: center;
}

.footer-contact-container {
width: 800px;
height: 461px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

}

.footer-contact-title {
font-family: var(--font-family-accent);
font-size: clamp(1.25rem, 1.05rem + 1vw, 2.25rem);
font-weight: 700;
padding-bottom: 7px;
}

.footer-contact-subtitle {
font-size: clamp(0.875rem, 0.8rem + 0.38vw, 1.25rem);
padding-bottom: 17px;
}

.footer-contact-button {
border-color: var(--color-dark);
background-color: transparent;
color: var(--color-dark);
width: 150px;
height: 50px;
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
}

.footer-contact-button:hover {
background-color:var(--color-dark);
transition: var(--transition-duration);
color: var(--color-light);

}

.footer-news {
background-color: var(--color-dark);
width: auto;
height: 197px;
display: flex;
justify-content: center;
}

.footer-news-container {
width: 1200px;
height: 197px;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 30px;
}

.footer-news-text {
color: var(--color-light);
font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}

.footer-news-tittle {
font-size: clamp(1rem, 0.839rem + 1.81vw, 2.25rem);
font-family: var(--font-family-accent);
font-weight: 700;
color: var(--color-light);
}

.footer-news-form {
display: inline-flex;
gap: 30px;
width: 600px;
}

.footer-news-input {
border: none;
background: transparent;
border-bottom: 1px solid var(--color-gray);
max-width: 500px;
}

.footer-news-button {
border-color: var(--color-light);
background-color: transparent;
color: var(--color-light);
width: 150px;
height: 50px;
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
}

.footer-news-button:hover {
background-color: var(--color-light);
color: var(--color-dark);
transition: var(--transition-duration);

}

.footer-content-info {
display: flex;
justify-content: center;
}

.footer-info-container {
width: 1200px;
height: auto;
padding-top: 60px;
display: grid;
grid-template-columns: repeat(3, 39%);
padding-bottom: 40px;
}

.footer-left-side {
padding-left: 12%;
}


.footer-center-side {
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}

.footer-location-place {
font-size: 20px;
font-weight: 700;
}

.footer-location-abbreviation {
color: var(--color-gray);
font-size: 20px;

}

.footer-location-address {
font-size: 14px;
font-style: normal;
}

.footer-location-ca {
display: flex;
padding-bottom: 20px;
}

.footer-location-ny {
display: flex;
}

.footer-time-icon {
width: 82px;
padding-right: 15px;
}

.footer-right-side {
display: grid;
padding-left: 30px;
}

.footer-column-title {
padding-bottom: 7px;
font-family: var(--font-family-accent);
font-weight: 700;
font-size: 20px;
}

.footer-column-email {
font-size: 14px;
padding-bottom: 18px;
}

.footer-soc1al-media-icons {
display: flex;
gap: 10px;
}

.footer-soc1al-media-item {
background-color: var(--color-dark);
width: 36px;
aspect-ratio: 1;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.footer-soc1al-media-item:hover {
background-color: var(--color-light);
transition: var(--transition-duration);
border: 1px solid var(--color-dark);
}

.footer-soc1al-media-link {
display: flex;
width: 20px;
}

.footer-soc1al-media-link:hover {
color: var(--color-dark);
transition: var(--transition-duration);
}

.footer-extra {
font-size: 12px;
}

.footer-extra-inner {
display: flex;
justify-content: center;
background-color: var(--color-dark);
color: var(--color-light);
}

@media (max-width: 1860px) {
.social-gallery {
display: grid;
justify-items: center;
}

.social-images {
width: 1500px;
grid-template-columns: 13% 25% 19% 23% 16%;
}
.social-images-second {
width: 1500px;
grid-template-columns: 20% 25% 16% 12% 23%;
}

}

@media (max-width: 1700px) {
.social-gallery {
justify-items: start;

}


}

@media (max-width: 1500px) {

.home {
display: flex;
align-content: center;
align-items: center;
width: auto ;
height: auto;
flex-direction: column-reverse
}

.home-group {
padding-left: 87px;
padding-block: 60px;
}

.home-info-title {
font-size: 17px;
}

.home-title {
font-size: 40px;
}

.home-subtitle {
font-size: 25px;
}

.home::before {
  display: flex;

  width:52.10em;
height: 500px;
}

.food-drinks {
margin-inline: 0;
}

.social-gallery {
justify-items: start;
margin-inline: -100px;
width: 1500px;
height: auto;
}

.content-row {
margin-inline: 279px;
}

.images-title-size {
width: 300px;
height: 300px;
}

.social-images {
grid-template-columns: repeat(4, 20%);
}

.social-images-second {
grid-template-columns: repeat(4, 20%);
padding-top: 0;
}

.images-title-last-child {
display: grid;
grid-column: span 4;
justify-items: start;
justify-content: center;
}

}

@media (max-width: 1200px) {
.product-call-1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: center;
}

.double-box {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product-call-2 {
padding-bottom: 30px
}

.double-box-second {
  display: flex;
  flex-direction: column;
  column-gap: 30px;

  align-items: center;
}


.product-call-1-reverse {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}

.double-box-second-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cup-double-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-comment {
  margin-bottom: 30px;
}

.social-images {
grid-template-columns: repeat(3, 20%);
}

.social-images-second {
grid-template-columns: repeat(3, 20%);
}

.images-title-last-child {
grid-column: span 1;
}

.social-gallery {
margin-inline: -217px;
}

.home-services {
height: auto;
}

.home-services-container {
height: auto;
}

.home-services-list {
grid-template-columns: repeat(3, 16em);
}

.pollen-location-item {
flex-direction: column;
}

.footer-info-container {
grid-template-columns: repeat(3, 1fr);
}

}

@media (max-width: 1000px) {

.food-drinks {
  display: contents;
}

.social-images {
grid-template-columns: repeat(2, 20%);
}

.social-images-second {
grid-template-columns: repeat(2, 20%);
}

.images-title-last-child {
grid-column: span 2;
}

.social-gallery {
margin-inline: -264px;
}

.content-row {
margin-inline: 533px;
}

.teg {
font-size: 27px;
}

.content-row-title {
font-size: 15px;
}

.home-services-container {
width: auto;
}

.expandable-content {
grid-template-columns: repeat(4, 25.4vw);
}


.footer-news-container {
flex-direction: column
}

.footer-news-block {
display: flex;
flex-direction: column;
align-items: center;
}

}

@media (max-width: 868px) {

  .home-group {
      padding-left: 0px;
      padding-block: 30px;
  }

.header-title {
  font-size: 14px;
}

.home::before {
  width: 42.1em;
  height: 418px;
      }

.social-gallery {
margin-inline: -357px;
}

.home-services-list {
  grid-template-columns: repeat(2, 16em);
}

.place-box-second {
  margin-top: -15px;
}

.place-tagline {
margin-top: -60px;
}

.place-position {
top: -27px;
}

}

@media (max-width: 732px) {


  .home-subtitle {
      font-size: 20px;
  }

  .home::before {
      width: 35.1em;
      height: 369px;
  }

.social-images {
grid-template-columns: repeat(2, 19%);
}

.social-images-second {
grid-template-columns: repeat(2, 19%);
}

.expandable-content {
grid-template-columns: repeat(3, 34.4vw);
}

.footer-info-container {
      grid-template-columns: repeat(2, 1fr);
  }


.footer-center-side  {
justify-content: center;
}

}

@media (max-width: 600px) {
.home-info-title {
      font-size: 14px;
}

  .home-title {
      font-size: 30px;}


  .home-subtitle {
      font-size: 17px;

}

  .home::before {
      width: 25.1em;
      height: 284px;
  }


  .home-group {
      padding-left: 9px;
      padding-block: 30px;
  }


  .product-box {
    width: auto;
    padding: 10px 30px 10px 40px;
  }


  .product-info-title {
    font-size: 13px;
  }

  .product-title {
    font-size: 30px;
  }

  .product-subtitle {
    font-size: 17px;
  }

  .social-gallery {
      margin-inline: -489px;
  }

  .social-images {
grid-template-columns: repeat(1, 20%);
}

.social-images-second {
grid-template-columns: repeat(1, 20%);
}

.images-title-last-child {
grid-column: span 1;
}

.home-services-title {
font-size: 24px;
padding-top: 25px;
}

.home-services-subtitle {
font-size: 14px;
}

.home-services-list {
  grid-template-columns: repeat(1, 16em);
}

.place-tagline {
right: -10px;
font-size: 15px;
margin-top: -44px;
}

.place-position {
padding-right: 10px;
top: -27px;
}
.place-box-second {
  margin-top: -23px;
}

.footer-news-form {
width: auto;
padding-inline: 20px;
}

}

@media (max-width: 520px) {

.header {
padding: 30px 0;
line-height: 20px;
}

.home::before {
      width: 21.1em;
      height: 218px;
  }


.header-logo {
width: 362px;

}

.home-info-title {
      font-size: 10px;
  }

.home-title {
      font-size: 25px;
  }

.home-subtitle {
font-size: 13px;
  }

.section-title {
font-size: 23px;
}

.product-image {
height: 50%;
}

.product-box {
height: 50%;
}

.product-info-title {
font-size: 10px;
}


.product-title {
font-size: 25px;
}

.product-subtitle {
font-size: 14px;
}



.product-box {
padding: 10px 10px 10px 10px;
}

.product-info-title {
font-size: 8px;
}


.product-title {
      font-size: 20px;
}

.product-subtitle {
font-size: 12px;
}

.slider-comment {
  width: 90vw;
  height: auto;
}

.slick-initialized.slick-slider {
  width: auto;
  height: auto
}

.comment {
margin-inline: none;
margin-block: 10px;
}


.comment-name {
font-size: 19px;
}
.comment-profession {
font-size: 15px;
}
.comment-text {
font-size: 12px;
}

.button-arrow-container {
gap: 239px;
margin-top: -250px;
}


.product-image {
height: 200px;

}

.product-box-cup {
  padding: 10px 10px 10px 10px;
  width: auto;
  height: auto;
}

.product-cup-info-title {
font-size: 10px;
}

.product-cup-title {
font-size: 23px;
}

.product-cup-subtitle {
font-size: 11px;
}


.only-image {
height: 441px;
}

.social-gallery {
  margin-inline: -550px;
}

.content-row {
margin-inline: 491px;

}

.content-row-title {
      font-size: 15px;
      margin-inline: 89px
}

.expandable-content {
grid-template-columns: repeat(2, 42.4vw);
}

.client-list-title {
font-size: clamp(1.263rem, 0.474rem + 0.44vw, 2.25rem);;
}

.place-tagline {
right: -10px;
font-size: 13px;
margin-top: -44px;
}

.place-position {
padding-right: 10px;
top: -27px;
}
.place-box-second {
  margin-top: -23px;
}

.footer-info-container {
grid-template-columns: repeat(1, 1fr);
}

.footer-left-side {
display: flex;
justify-content: center;
padding-bottom: 20px;
}

.footer-center-side {
justify-content: center;
padding-bottom: 10px;
}

.footer-right-side {
padding-left: 0;
justify-items: center;
}

.footer-column-email {
display: flex;
justify-content: center;
}

.footer-soc1al-media-icons {
display: flex;
justify-content: center;
}

.sl-container {
  width: 76vw;
  height: 381px;
}

.sl-container .view img {
  width: 77vw;
  height: 382px;
}

.text-viev-after {

  margin-top: -370px;
        width: 60px;
        font-size: 10px;
        left: 20px;
}

.text-viev-before {
        margin-top: -370px;
        width: 60px;
        font-size: 10px;
        right: 20px;
}

.sl-container .dr-circle {
  left: -28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.button-arrow {
padding-block: 17px;
    gap: 10px;
}

.sl-container-second {
  width: 76vw;
  height: 381px;
}

.sl-container-second .view-second img {
  width: 77vw;
  height: 382px;
}

.dr-circle-second {
    height: 600px;
    width: 5px;
    position: absolute;
    left: -3px;

}

}

@media (max-width: 375px) {

.button-arrow-container {
gap: 217px;
margin-top: -266px;
}

.only-image {
height: 360px;
}

.comment-text {
font-size: 10px;
}


.social-gallery {
margin-inline: -566px;
}

.content-row-title {
margin-inline: 110px;
}

.home-services-title {
font-size: 20px;
}

.home-services-subtitle {
font-size: 12px;
}

.client-list-title {
font-size: clamp(0.963rem, 0.474rem + 0.44vw, 2.25rem);
}


.place-tagline {
font-size: 12px;
}


.place-box-second {
  margin-top: -23px;
}

.place-name {
  font-size: 9px;
}

.place-address {
font-size: 9px;
}



}
